div.container {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

div.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #282828;
}

div.title {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h2.headerColored { color: #00abff; }

h2.header { color: white; }

form.login {
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

div.email, div.password { padding-right: 15px; }

input.email, input.password, input.book {
  width: 150px;
  height: 25px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: none;
  font-size: 15px;
  padding-left: 5px;
}

input.bookSmall {
  width: 60px;
  height: 25px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: none;
  font-size: 15px;
  padding-left: 5px;
}

input.submit, input.logout {
  width: 100px;
  height: 25px;
  background-color: #00abff;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
}

div.welcome {
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

h3.welcome { color: white  }
h3.welcomeColored {
  color: #00abff;
  padding-left: 10px;
  padding-right: 30px;
}

div.sidebar {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #3e454c;
}

input.menuEntry {
  width: 100px;
  height: 25px;
  background-color: white;
  color: #00abff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
}

form.menuEntry {
  padding-top: 20px;
}

form.signup {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

div.signupContent {
  height: 120px;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2b3035;
  border-radius: 4px;
}

div.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

div.contentContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
}

div.mainView {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

div.overviewContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2b3035;
  border-radius: 4px;
}

div.tableContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
}

div.tableElement {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

table {
  border: 1px solid steelblue;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

h3.tableHeader {
  color: skyblue;
} 

td {
    border: 1px solid grey;
    color: white;
    text-align: center;
}

tr {
  padding-left: 10px;
  padding-right: 10px;
}

form.book {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

div.bookContent {
  height: 120px;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2b3035;
  border-radius: 4px;
}

div.bookInput { padding-right: 15px; }